<div class="row">
	<div class="col-md-3">
		<p><b>Цена билета:</b> {{draw.bet}} {{coin}}</p>
		<p><b>Билетов всего:</b> {{draw.maxbets|number_format(0, '', ',')}}</p>
	{#	<p><b>Приз каждому:</b> {{draw.prize}} {{coin}}</p>
		<p><b>Победителей:</b> {{draw.maxprizes}}</p> #}
	</div>
	<div class="col-md-4">
		<p><b>Собирается:</b> {{revenue|number_format(0, '', ',')}} {{coin}}</p>
		<p><b>Заплатить выигрышей:</b> {{payout}} {{coin}}</p>
		{% if not (draw.status == statuses.wait) %}
			<p><b>Билетов продано/осталось:</b> <span class="{{highlight}}">{{draw.nowbets|number_format(0, '', ',')}}</span> / {{leftbets|number_format(0, '', ',')}}</p>
			<p><b>Собрано/осталось:</b> <span class="{{highlight}}">{{draw.nowincome|number_format(0, '', ',')}}</span> / {{leftincome|number_format(0, '', ',')}} {{coin}}</p>
		{% endif %}
		{% if draw.winners %}
			<p><a href="/stat/winners/{{draw.drawcode}}" target="_blank">Скачать кошельки победителей</a></p>
			{% if payback > 0 %}
				<p><a href="/stat/cashbacks/{{draw.drawcode}}" target="_blank">Скачать кошельки кэшбеков</a></p>
			{% endif %}
		{% endif %}
	</div>
	<div class="col-md-5">
		<p><b>Шаблоны постов:</b> {{draw.tplcode}}</p>
		<p><b>Тип розыгрыша:</b> <span class="small">{{modes[draw.mode]}}</span></p>
		{% if draw.endpostid > 0 %}
			<p><b>Пост завершения тиража:</b> <a href="https://t.me/{{draw.chat}}/{{draw.endpostid}}" target="_blank">ссылка</a> </p>
		{% endif %}
		<p><b>Кошелёк тиража:</b> <a class="small" href="https://minterscan.net/address/{{draw.wallet}}" target="_blank">{{draw.wallet}}</a></p> 
	</div>
</div>
