<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>

{% include 'navbar.twig' %}

<div class="container">

	<div class="row">
		<div class="col-md-9">
			<h2>Статистика бота</h2> 
		</div>
	</div>
	
	<div class="row">

		<div class="col-md-12">
			<p><span class="lead">Пользователи: {{users|length}} | Заработано: {{"%0.2f"|format(topay)}} BIP</span></p>
			<table class="table table-condensed table-bordered small">
			<thead>
				<th class="text-center">Регистрация</th>
				<th class="text-center">Телеграм</th>
				<th class="text-center">Пригласил</th>
				<th class="text-center">Кошелек</th>
				<th class="text-center">Заработал</th>
				<th class="text-center">
					Партнеры 1-го уровня<br>
					<small>
						<span class="text-danger">Активаций</span> • <span class="text-info">Кошельков</span> • <span class="text-success">Оплат</span>
					</small>
				</th>
				<th class="text-center">
					Партнеры 2-го уровня<br>
					<small>
						<span class="text-danger">Активаций</span> • <span class="text-info">Кошельков</span> • <span class="text-success">Оплат</span>
					</small>
				</th>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td class="text-center">{{user.registered|date("d.m | H:i:s")}}</td>
					<td class="text-center">{{user.username}}</td>
					<td class="text-center text-muted">{{user.invited}}</td>
					<td class="text-center">
						{% if user.wallet %}
						<a class="monospace" href="https://minterscan.net/address/{{user.wallet}}" target="_blank">
							{{user.wallet}}
						</a>
						{% else %}
							…
						{% endif%}
					</td>
					<td class="text-center">{{"%0.2f"|format(user.to_be_payed)}}</td>
					<td class="text-center">
						<span class="text-danger">{{user.ref_data.lvl_1.activations}}</span> •
						<span class="text-info">{{user.ref_data.lvl_1.wallets}}</span> •
						<span class="text-success">{{user.ref_data.lvl_1.buys}}
							{{user.ref_data.lvl_1.buys ? 'x ' ~ user.ref_data.lvl_1.bips_spent ~ ' BIP'}}
						</span>
					</td>
					<td class="text-center">
						<span class="text-danger">{{user.ref_data.lvl_2.activations}}</span> •
						<span class="text-info">{{user.ref_data.lvl_2.wallets}}</span> •
						<span class="text-success">{{user.ref_data.lvl_2.buys}}
							{{user.ref_data.lvl_2.buys ? 'x ' ~ user.ref_data.lvl_2.bips_spent ~ ' BIP'}}
						</span>
					</td>
				</tr>                     
				{% endfor %}
			</tbody>
			</table>

		</div>

	</div>

</div> <!-- end container -->

<script type="text/javascript">{% include 'selector.min.js' %}</script>

{% include 'footer.twig' %}

</body>
</html>