<div class="form-group"> 
	<label class="control-label" for="chat-selector">Чат или канал тиража</label>
	<select class="form-control" id="chat-selector">
		{% for chat in chats %}
			<option value="{{chat}}"{{ chat == selected.chat ? ' selected' }}>{{chat}}</option>
		{% endfor %}
	</select>
</div>                     
