<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>

{% include 'navbar.twig' %}

<div class="container">

	<div class="row">
		<div class="col-md-7">
			<h2>Управление тиражами</h2> 
		</div>
		<div class="col-md-2">
			<p class="like-label">&nbsp;</p>
			<div class="input-group">
				<span class="input-group-addon">
					<input type="checkbox" id="checkbox-pull">
				</span>
				<form class="form" id="form-pull">
					<button type="submit" class="btn btn-default" id="button-pull" disabled>Дёрнуть блокчейн</button>
				</form>
			</div>
		</div>
		<div class="col-md-3"> 
			{% include 'chat-selector.twig' %}
		</div>
	</div>

	{% for draw in draws %}
		{% set coin = draw.coin %}
		{% set revenue = draw.bet * draw.maxbets %}
		{% set payout = draw.prize * draw.maxprizes %}
		{% set payback = draw.cashback * draw.maxbets %}
		{% set profit = draw.nowincome - payout - payback %}
		{% set leftbets = draw.maxbets - draw.nowbets %}
		{% set leftincome = revenue - draw.nowincome %}
		
		{% set highlight = draw.nowincome >= (payout + payback) ? 'bg-success text-success' : 'bg-danger text-danger' %}
		
		{% set status = (draw.status == statuses.run) ? 'info' : ((draw.status == statuses.done) ? 'success' : ((draw.status == statuses.break) ? 'danger' : 'default')) %}

		<div class="panel panel-{{status}}">
			<div class="panel-heading">
				<span class="panel-title">
					{{draw.drawcode}} •  
					{{draw.status == statuses.wait ? 'Создан (требуется запуск)'}}
					{{draw.status == statuses.run ? 'Запущен'}}
					{{draw.status == statuses.done ? 'Завершен (разыгран)'}}
					{{draw.status == statuses.break ? 'Отменён'}}
				</span>
				<span class="pull-right">
					{{draw.start|date("d.m.Y H:i:s")}}
					{% if (draw.status == statuses.done) and (draw.endpostid > 0) %}
						► {{draw.stop|date("d.m.Y H:i:s")}}
					{% endif %}
					{% if (draw.status == statuses.break) and (draw.endpostid > 0) %}
						► {{draw.stop|date("d.m.Y H:i:s")}}
					{% endif %}
				</span>
			</div>
			
			<div class="panel-body">
				{% include '_drawblock.twig' %}
				<hr>
				
				{% if draw.status == statuses.done %}
					<p class="textnotes">
						Завершенные тиражи показываются в этой панели в течение {{postview}} часов после розыгрыша. 
						Сделайте необходимые действия до истечения этого времени.
					</p>
				{% endif %}
				{% if draw.status == statuses.break %}
					<p class="textnotes">
						Отменённые тиражи показываются в этой панели в течение {{postview}} часов после отмены.
					</p>
				{% endif %}
				
				<div class="row">
					<div class="col-md-12">
					{% for button in draw.buttons if button %}
						<form role="form" class="btnmargins pull-left {{button.event}}">
							{% if csrf.hash %} <input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}"> {% endif %}
							
							<input type="hidden" name="drawcode" value="{{draw.drawcode}}">
							<input type="hidden" name="action" value="{{button.value}}">
							<button type="submit" class="btn {{button.type}}" {{is_demo ? 'disabled'}}>{{button.btn}}</button>
						</form>
					{% endfor %}
					</div>
				</div>
		
			</div> <!-- end panel body -->
		</div> <!-- end panel -->
	{% else %}
		<p class="lead text-danger">Нет тиражей для этого чата/канала. Смените чат/канал или запустите новый тираж.</p>
	{% endfor %}

</div> <!-- end container -->

<!-- Popup Modals -->
<div class="modal fade" id="modalctrl-preview" tabindex="-1" role="dialog" aria-labelledby="modalctrl-preview-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalctrl-preview-self">Превью поста</h4>
			</div>
			<div class="modal-body">
				<p id="modalctrl-preview-body">Здесь должен быть информативный текст.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalctrl-okay" tabindex="-1" role="dialog" aria-labelledby="modalctrl-okay-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-success" id="modalctrl-okay-self">Получилось</h4>
			</div>
			<div class="modal-body">
				<p class="text-success" id="modalctrl-okay-body">Всё получилось :)</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalctrl-error" tabindex="-1" role="dialog" aria-labelledby="modalctrl-error-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-danger" id="modalctrl-error-self">Ошибка</h4>
			</div>
			<div class="modal-body">
				<p class="text-danger" id="modalctrl-error-body">Что-то не получилось :(</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div class="modal-wait"></div>

<script type="text/javascript">{% include 'selector.min.js' %}</script>
<script type="text/javascript">{% include 'control.min.js' %}</script>

{% include 'footer.twig' %}

</body>
</html>