    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                {% set StartYear = 2020 %}
                {{sitetitle}} | &copy; {{StartYear}}{% if "now"|date("Y") > StartYear %}{{ "-" ~ "now"|date("Y") }}{% endif %} by @everjob
            </p>
        </div>
    </footer>
