<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{sitetitle}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{{ uri_string == '' ? ' class="active"'}}><a href="/">Управление</a></li>
                <li{{ uri_string == 'newdraw' ? ' class="active"'}}><a href="/newdraw">Новый тираж</a></li>
                <li{{ uri_string == 'template' ? ' class="active"'}}><a href="/template">Шаблоны</a></li>
                <li{{ uri_string == 'stat' ? ' class="active"'}}><a href="/stat">Статистика</a></li>
                <li{{ uri_string == 'botstat' ? ' class="active"'}}><a href="/botstat">Бот</a></li>
                <li><a href="/auth/logout">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>
