<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>

    {% include 'navbar.twig' %}

	<div class="container">
	
		<div class="row">
			<div class="col-md-9">
				<h2>Создание нового тиража</h2> 
			</div>
			<div class="col-md-3">
				{% include 'chat-selector.twig' %}
			</div>
		</div>
		
		<form role="form" data-toggle="validator" id="form-newdraw">
			{% if csrf.hash %}
				<input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
			{% endif %}
			
			<div class="well">
				<div class="row">
					<div class="col-md-5"> 
						<div class="form-group">
							<label class="control-label" for="id-title">Заголовок лотереи (рекомендуется)</label>
							<input type="text" class="form-control" name="title" id="id-title" value="{{lastparams.title}}" placeholder="Заголовок лотереи (опция)" minlength="{{draw.title_minlen}}" maxlength="{{draw.title_maxlen}}" data-error="Слишком короткий заголовок">
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Произвольный текст для подстановки в шаблон в качестве заголовка. Например, "<span class="text-muted">Лотерея Miss Minter</span>". Рекомендуется указывать.</p>
					</div>
					<div class="col-md-5"> 
						<div class="form-group">
							<label class="control-label" for="id-mode">Тип розыгрыша</label>
							<select class="form-control" name="mode" id="id-mode" required> 
								{% for mode in modes %}
									{# Если нужно сделать доступными остальные опции, то убрать disabled в выражении #}
									<option value="{{mode.type}}"{{ mode.type == lastparams.mode ? ' selected' }}>{{mode.descr}}</option>
								{% endfor %}
							</select>
						</div>
						<p class="small"></p>
					</div>
					<div class="col-md-2"> 
						<div class="form-group">
							<label class="control-label" for="id-tplcode">Шаблоны постов</label>
							<select class="form-control" name="tplcode" id="id-tplcode" required> 
								{% for tplcode in tplcodes %}
									<option value="{{tplcode}}"{{ tplcode == lastparams.tplcode ? ' selected' }}>{{tplcode}}</option>
								{% endfor %}
							</select>
						</div>
						<p class="small">Комплект шаблонов для оформления постов</p>
					</div>
				</div>
			</div>
			
			<div class="well">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group"> 
							<label class="control-label" for="id-drawcode">Код тиража</label>
							<input type="text" class="form-control" name="drawcode" id="id-drawcode" value="{{nextdrawcode}}" placeholder="Код тиража для статистики" pattern="^[A-z0-9_\-]+$" minlength="{{draw.code_minlen}}" maxlength="{{draw.code_maxlen}}" data-error="Слишком короткое имя" data-pattern-error="Разрешены латинские буквы, цифры, знаки - _" data-remote-error="Этот код тиража уже используется" data-remote="/newdraw/check" required>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Придумайте уникальный код тиража для пейлоад (не должен повторяться).</p>
					</div>
					<div class="col-md-3"> 
						<div class="form-group">
							<label class="control-label" for="id-coin">Тикер монеты тиража</label>
							<input type="text" class="form-control" name="coin" id="id-coin" value="{{lastparams.coin}}" placeholder="Монета тиража" pattern="^[A-Z0-9]{3,10}" data-pattern-error="Укажите корректный тикер монеты" required>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Будьте внимательны, при ошибке в тикере тираж придётся удалять!</p>
					</div>
					<div class="col-md-6"> 
						<div class="form-group">
							<label class="control-label" for="id-wallet">Кошелек для приёма оплаты за билеты</label>
							<input type="text" class="form-control" name="wallet" id="id-wallet" value="{{lastparams.wallet}}" placeholder="Minter кошелек" pattern="^Mx[A-f0-9]{40}" data-pattern-error="Укажите корректный Minter кошелек" required>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Кошелёк для приёма оплаты за билеты.</p>
					</div>
				</div>
			</div>
			
			<div class="well">
				<div class="row">
					<div class="col-md-2"> 
						<div class="form-group"> 
							<label class="control-label" for="id-bet">Цена билета</label>
							<input type="number" class="form-control" name="bet" id="id-bet" value="" placeholder="Цена билета" min="{{draw.min_bet}}" max="{{draw.max_bet}}" required>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Цена 1 билета в монете тиража (целое число)</p>
					</div>
					<div class="col-md-2"> 
						<div class="form-group"> 
							<label class="control-label" for="id-maxbets">Кол-во билетов</label>
							<input type="number" class="form-control" name="maxbets" id="id-maxbets" value="" placeholder="Число билетов" min="{{draw.min_tickets}}" max="{{draw.max_tickets}}" required>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Кол-во билетов тиража</p>
					</div>
					<div class="col-md-2"> 
						<div class="form-group"> 
							<label class="control-label" for="id-prize">Размер выигрыша</label>
							<input type="number" class="form-control" name="prize" id="id-prize" value="" placeholder="Выигрыш" min="{{draw.min_prize}}" max="{{draw.max_prize}}" required>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Размер выигрыша <em>каждому</em> победителю</p>
					</div>
					<div class="col-md-2"> 
						<div class="form-group"> 
							<label class="control-label" for="id-maxprizes">Кол-во призов</label>
							<input type="number" class="form-control" name="maxprizes" id="id-maxprizes" value="" placeholder="Число призов" min="{{draw.min_winners}}" max="{{draw.max_winners}}" required>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Кол-во победителей в тираже</p>
					</div>
					<div class="col-md-2 col-md-offset-2"> 
						<div class="form-group"> 
							<label class="control-label" for="id-cashback">Кэшбек остальным</label>
							<input type="number" class="form-control" name="cashback" id="id-cashback" value="" placeholder="Кэшбек (опция)" min="{{draw.min_cashback}}" max="{{draw.max_cashback}}" disabled>
							<div class="help-block with-errors"></div>
						</div>
						<p class="small">Размер кэшбека каждому проигравшему (опция)</p>
					</div>
				</div>
			</div>                 
			
			<div class="row">
				<div class="col-md-push-4 col-md-4">
					<div class="text-center" id="calc-block">
						<p class="lead"><span id="calc-income">?</span> - <span id="calc-payout">?</span><span id="calc-cashback"></span> = <span id="calc-result">?</span></p>
					</div>
				</div>
			</div>                 
			
			<div class="row">
				<div class="col-md-push-4 col-md-4"> 
					<button type="submit" class="btn btn-primary btn-block btn-lg"{{ is_demo ? ' disabled'}}>Создать тираж</button>                         
				</div>
			</div>                 
		
		</form>
	
	</div> <!-- end container -->


<!-- Popup Modals -->
<div class="modal fade" id="modaldraw-success" tabindex="-1" role="dialog" aria-labelledby="modaldraw-success-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-success" id="modaldraw-success-self">Получилось</h4>
			</div>
			<div class="modal-body">
				<p class="text-success">Тираж создан.</p>
				<p>Для публикации тиража в телеграм чате/канале перейдите на страницу "Управление".</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modaldraw-error" tabindex="-1" role="dialog" aria-labelledby="modaldraw-error-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-danger" id="modaldraw-error-self">Ошибка</h4>
			</div>
			<div class="modal-body">
				<p class="text-danger">Не удалось запустить тираж :(</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

{# <!-- div class="modal fade" id="modaldraw-confirm" tabindex="-1" role="dialog" aria-labelledby="modaldraw-confirm-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modaldraw-confirm-self">Вы точно хотите запустить тираж?</h4>
			</div>
			<div class="modal-body">
				<p class="text-warning">Пост по выбранному шаблону будет опубликован в телеграм чате/канале автоматически.</p>
				<p>Запустить тираж, вы уверены?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="modal-confirm-no" data-dismiss="modal">Отменить</button>
				<button type="button" class="btn btn-primary" id="modal-confirm-yes">Запустить тираж</button>
			</div>
		</div>
	</div>
</div --> #}

<script type="text/javascript">{% include 'selector.min.js' %}</script>
<script type="text/javascript">{% include 'newdraw.min.js' %}</script>

{% include 'footer.twig' %}

</body>
</html>