<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>

	{% include 'navbar.twig' %}

	<div class="container">
		<h2>У вас нет прав для просмотра этой страницы</h2> 
		<br>
		<p>Ваш аккаунт не настроен. Обратитесь к <a href="https://t.me/everjob" target="_blank">администратору приложения</a> для получения доступа.</p>
	</div>

{% include 'footer.twig' %}

</body>
</html>