<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>

{% include 'navbar.twig' %}

<div class="container">

	<div class="row">
		<div class="col-md-9">
			<h2>Статистика лотереи</h2> 
		</div>
		<div class="col-md-3"> 
			{% include 'chat-selector.twig' %}
		</div>
	</div>
	
	{% for draw in draws %}
		{% set coin = draw.coin %}
		{% set revenue = draw.bet * draw.maxbets %}
		{% set payout = draw.prize * draw.maxprizes %}
		{% set payback = draw.cashback * draw.maxbets %}
		{% set profit = draw.nowincome - payout - payback %}
		{% set leftbets = draw.maxbets - draw.nowbets %}
		{% set leftincome = revenue - draw.nowincome %}
		
		{% set highlight = draw.nowincome >= (payout + payback) ? 'bg-success text-success' : 'bg-danger text-danger' %}
		
		{% set status = (draw.status == statuses.run) ? 'info' : ((draw.status == statuses.done) ? 'success' : ((draw.status == statuses.break) ? 'danger' : 'default')) %}
		
		<div class="panel panel-{{status}}">
			<div class="panel-heading">
				<span class="panel-title">
					{{draw.drawcode}} •  
					{{draw.status == statuses.run ? 'Идёт сейчас'}}
					{{draw.status == statuses.done ? 'Завершен (разыгран)'}}
					{{draw.status == statuses.break ? 'Отменён'}}
				</span>
				<span class="pull-right">
					{{draw.start|date("d.m.Y H:i:s")}}
					{% if draw.stop %}
						► {{draw.stop|date("d.m.Y H:i:s")}}
					{% endif %}
					(UTC)
				</span>
			</div>
			
			<div class="panel-body">
				{% include '_drawblock.twig' %}
				
				{# <hr>
				<p class="text-warning">Средний чек: <b>{{"%0.2f"|format(draw.average)}}</b> {{draw.coin}}</p>
				#}
			</div>
		</div>
		
		<div class="row">
			
			<div class="col-md-4">
				<p><span class="lead">Транзакции</span> ({{draw.totaltrxs}} всего)</p>
				<table class="table table-condensed table-bordered small">
				<thead>
					<th class="text-center">Время</th>
					<th class="text-center">Кошелек</th>
					{# <th class="text-center">Сумма</th> #}
					<th class="text-center">Билетов</th>
				</thead>
				<tbody>
					{% for stat in draw.stat %}
					<tr>
						<td class="text-center">{{stat.blocktime|date("d.m | H:i:s")}}</td>
						<td class="text-center">
							{% if stat.payload%}
								<span data-toggle="tooltip" data-placement="top" title="{{stat.payload}}"><kbd>P</kbd></span>
							{% endif %}
							<a class="monospace" href="https://minterscan.net/tx/Mt{{stat.trx}}" target="_blank">
								{{stat.wallet[:7]}}…{{stat.wallet[37:5]}}
							</a>
						</td>
						{# <td class="text-center">{{"%0.4f"|format(stat.amountf)}} <span class="text-muted">{{stat.coin}}</span></td> #}
						<td class="text-center">{{stat.bets}}</td>
					</tr>                     
					{% endfor %}
				</tbody>
				</table>
				
				<p class="text-center text-muted"><em>Показаны последние {{maxtrxs}} транзакций.</em></p>
				<br>
			</div>
			
			<div class="col-md-3">
				<p><span class="lead">Покупатели</span> ({{draw.uniqbuyers}} уникальных)</p>
				<table class="table table-condensed table-bordered small">
				<thead>
					<th class="text-center">Кошелек</th>
					<th class="text-center">Сумма</th>
					<th class="text-center">Оплат</th>
				</thead>
				<tbody>
					{% for buyer in draw.buyers %}
					<tr>
						<td class="text-center">
							<a class="monospace" href="https://minterscan.net/address/{{buyer.wallet}}" target="_blank">
								{{buyer.wallet[:7]}}…{{buyer.wallet[37:5]}}
							</a>
						</td>
						<td class="text-center">{{buyer.bets}}</td>
						<td class="text-center">{{buyer.qty}}</td>
					</tr>                     
					{% endfor %}
				</tbody>
				</table>
			</div>

			<div class="col-md-2">
				<p class="text-warning"><span class="lead">Билеты</span> (ср. {{"%0.0f"|format(draw.average)}} BIP)</p>
				{# <p>Ср. чек: {{"%0.2f"|format(draw.average)}} {{draw.coin}}</p> #}
				<table class="table table-condensed table-bordered text-warning small">
				<thead>
					<th class="text-center">Кол-во</th>
					<th class="text-center">BIP</th>
				</thead>
				<tbody>
					{% for amount, qty in draw.tickets %}
					<tr>
						<td class="text-center">{{qty}}</td>
						<td class="text-center">{{amount}}</td>
					</tr>                     
					{% endfor %}
				</tbody>
				</table>
			</div>

			<div class="col-md-3">
				<p><span class="lead text-success">Выручка по дням</span></p>
				<table class="table table-condensed table-bordered text-success small">
				<thead>
					<th class="text-center">День</th>
					<th class="text-center">Дата</th>
					<th class="text-center">Сумма</th>
				</thead>
				<tbody>
					{% for date, amount in draw.revenue %}
					<tr>
						<td class="text-center">{{loop.revindex}}</td>
						<td class="text-center">{{date}}</td>
						<td class="text-center"><b>{{amount|number_format(0, '', ',')}}</b></td>
					</tr>                     
					{% endfor %}
				</tbody>
				</table>
			</div>

		</div>
		
	{% else %}
		<p class="lead text-danger">Нет тиражей для этого чата/канала.</p>
	{% endfor %}

</div> <!-- end container -->

<script type="text/javascript">{% include 'selector.min.js' %}</script>

{% include 'footer.twig' %}

</body>
</html>