<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>
{% set rows = 22 %}

{% include 'navbar.twig' %}

{% set img_preg_pattern = ".+\.(jpg|jpeg|png|gif)$" %}
{% set msg_invalid_imgurl = "URL изображения должен заканчиваться на .jpg .png .gif" %}

<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h2>Управление шаблонами постов</h2> 
		</div>
		<div class="col-md-2">
			<div class="form-group"> 
				<label class="control-label" for="tplcode-selector">Комплект шаблонов</label>
				<select class="form-control" name="tplcode" id="tplcode-selector">
					{% for tplcode in tplcodes %}
						<option value="{{tplcode}}"{{ tplcode == selected.tplcode ? ' selected' }}>{{tplcode}}</option>
					{% endfor %}
				</select>
			</div>                     
		</div>
		<div class="col-md-2"> 
			{% include 'chat-selector.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="well well-sm text-muted">
				<div class="row">
					<div class="col-md-4">
						<p class="text-warning"><strong>Подстановки для шаблонов:</strong></p>
						<p><small>
							<span class="force-select-all">{{'{{'}}title{{'}}'}}</span> – Заголовок лотереи<br>
							<span class="force-select-all">{{'{{'}}drawcode{{'}}'}}</span> – Код тиража<br>
							<span class="force-select-all">{{'{{'}}wallet{{'}}'}}</span> – Кошелек тиража<br>
							<span class="force-select-all">{{'{{'}}coin{{'}}'}}</span> – Тикер монеты тиража<br>
							<span class="force-select-all">{{'{{'}}deeplink<span class="text-danger"><b>1</b></span>{{'}}'}}</span> – Где <b>1</b> - число монет в диплинке (1-9 цифр)<br>
						</small></p>
					</div>
					<div class="col-md-4">
						<p><small>
							<span class="force-select-all">{{'{{'}}bet{{'}}'}}</span> – Цена лотерейного билета<br>
							<span class="force-select-all">{{'{{'}}maxbets{{'}}'}}</span> – Кол-во билетов тиража<br>
							<span class="force-select-all">{{'{{'}}prize{{'}}'}}</span> – Приз каждому победителю<br>
							<span class="force-select-all">{{'{{'}}maxprizes{{'}}'}}</span> – Кол-во призов<br>
							<span class="force-select-all">{{'{{'}}cashback{{'}}'}}</span> – Кэшбек проигравшим<br>
							<span class="force-select-all">{{'{{'}}wintotal{{'}}'}}</span> – Общая сумма выигрыша на всех<br>
						</small></p>
					</div>
					<div class="col-md-4">
						<p><small>
							<span class="force-select-all">{{'{{'}}leftbets{{'}}'}}</span> – Осталось непроданных билетов<br>
							<span class="force-select-all">{{'{{'}}nowbets{{'}}'}}</span> – Всего продано билетов<br>
							<span class="force-select-all">{{'{{'}}nowincome{{'}}'}}</span> – Всего собрано<br>
							<span class="force-select-all">{{'{{'}}winners{{'}}'}}</span> – Список кошельков победителей<br>
							<span class="force-select-all">{{'{{'}}start{{'}}'}}</span> – Дата/время запуска тиража<br>
							<span class="force-select-all">{{'{{'}}stop{{'}}'}}</span> – Дата/время розыгрыша (отмены) тиража<br>
						</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<form role="form" data-toggle="validator" id="form-tpls">
		{% if csrf.hash %}
			<input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
		{% endif %}
		
		<div class="row">
		
			<div class="col-md-4">
				<div class="form-group"> 
					<label class="control-label text-info" for="id-runmnl">Пост запуска тиража [RU]</label>
					<textarea class="form-control" rows="{{rows}}" name="runmnl" id="id-runmnl" minlength="{{text.minlen}}" maxlength="{{text.maxlen}}">{{data.runmnl}}</textarea>
				</div>
				<div class="form-group nomarginbottom">
					<label class="control-label sr-only" for="id-imgurl-runmnl">Картинка к посту</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" class="control-label event-isimg" name="runmnl_isimg" id="id-isimg-runmnl" value="1"{{data.runmnl_isimg ? ' checked'}}>
						</span>
						<input type="url" class="form-control" name="runmnl_imgurl" id="id-imgurl-runmnl" value="{{data.runmnl_imgurl}}" minlength="{{text.url_minlen}}" maxlength="{{text.url_maxlen}}" placeholder="URL картинки к посту" pattern="{{img_preg_pattern}}" data-pattern-error="{{msg_invalid_imgurl}}" {{not data.runmnl_isimg ? ' disabled'}}>
					</div>
					<div class="help-block with-errors"></div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group"> 
					<label class="control-label text-info" for="id-info">Инфо пост тиража [RU]</label>
					<textarea class="form-control" rows="{{rows}}" name="info" id="id-info" minlength="{{text.minlen}}" maxlength="{{text.maxlen}}">{{data.info}}</textarea>
				</div>
				<div class="form-group nomarginbottom"> 
					<label class="control-label sr-only" for="id-imgurl-info">Картинка к посту</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" class="control-label event-isimg" name="info_isimg" id="id-isimg-info" value="1"{{data.info_isimg ? ' checked'}}>
						</span>
						<input type="url" class="form-control" name="info_imgurl" id="id-imgurl-info" value="{{data.info_imgurl}}" minlength="{{text.url_minlen}}" maxlength="{{text.url_maxlen}}" placeholder="URL картинки к посту" pattern="{{img_preg_pattern}}" data-pattern-error="{{msg_invalid_imgurl}}" {{not data.info_isimg ? ' disabled'}}>
					</div>
					<div class="help-block with-errors"></div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group"> 
					<label class="control-label text-info" for="id-playmnl">Пост завершения тиража [RU]</label>
					<textarea class="form-control" rows="{{rows}}" name="playmnl" id="id-playmnl" minlength="{{text.minlen}}" maxlength="{{text.maxlen}}">{{data.playmnl}}</textarea>
				</div>
				<div class="form-group nomarginbottom"> 
					<label class="control-label sr-only" for="id-imgurl-playmnl">Картинка к посту</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" class="control-label event-isimg" name="playmnl_isimg" id="id-isimg-playmnl" value="1"{{data.playmnl_isimg ? ' checked'}}>
						</span>
						<input type="url" class="form-control" name="playmnl_imgurl" id="id-imgurl-playmnl" value="{{data.playmnl_imgurl}}" minlength="{{text.url_minlen}}" maxlength="{{text.url_maxlen}}" placeholder="URL картинки к посту" pattern="{{img_preg_pattern}}" data-pattern-error="{{msg_invalid_imgurl}}" {{not data.playmnl_isimg ? ' disabled'}}>
					</div>
					<div class="help-block with-errors"></div>
				</div>
			</div>

		</div>
		
		<hr>
		
		<div class="row">
		
			<div class="col-md-4">
				<div class="form-group"> 
					<label class="control-label text-warning" for="id-runmnl2">Пост запуска тиража [EN]</label>
					<textarea class="form-control" rows="{{rows}}" name="runmnl2" id="id-runmnl2" minlength="{{text.minlen}}" maxlength="{{text.maxlen}}">{{data.runmnl2}}</textarea>
				</div>
				<div class="form-group nomarginbottom">
					<label class="control-label sr-only" for="id-imgurl-runmnl2">Картинка к посту</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" class="control-label event-isimg" name="runmnl2_isimg" id="id-isimg-runmnl2" value="1"{{data.runmnl2_isimg ? ' checked'}}>
						</span>
						<input type="url" class="form-control" name="runmnl2_imgurl" id="id-imgurl-runmnl2" value="{{data.runmnl2_imgurl}}" minlength="{{text.url_minlen}}" maxlength="{{text.url_maxlen}}" placeholder="URL картинки к посту" pattern="{{img_preg_pattern}}" data-pattern-error="{{msg_invalid_imgurl}}" {{not data.runmnl2_isimg ? ' disabled'}}>
					</div>
					<div class="help-block with-errors"></div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group"> 
					<label class="control-label text-warning" for="id-info2">Инфо пост тиража [EN]</label>
					<textarea class="form-control" rows="{{rows}}" name="info2" id="id-info2" minlength="{{text.minlen}}" maxlength="{{text.maxlen}}">{{data.info2}}</textarea>
				</div>
				<div class="form-group nomarginbottom"> 
					<label class="control-label sr-only" for="id-imgurl-info2">Картинка к посту</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" class="control-label event-isimg" name="info2_isimg" id="id-isimg-info2" value="1"{{data.info2_isimg ? ' checked'}}>
						</span>
						<input type="url" class="form-control" name="info2_imgurl" id="id-imgurl-info2" value="{{data.info2_imgurl}}" minlength="{{text.url_minlen}}" maxlength="{{text.url_maxlen}}" placeholder="URL картинки к посту" pattern="{{img_preg_pattern}}" data-pattern-error="{{msg_invalid_imgurl}}" {{not data.info2_isimg ? ' disabled'}}>
					</div>
					<div class="help-block with-errors"></div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group"> 
					<label class="control-label text-warning" for="id-playmnl2">Пост завершения тиража [EN]</label>
					<textarea class="form-control" rows="{{rows}}" name="playmnl2" id="id-playmnl2" minlength="{{text.minlen}}" maxlength="{{text.maxlen}}">{{data.playmnl2}}</textarea>
				</div>
				<div class="form-group nomarginbottom"> 
					<label class="control-label sr-only" for="id-imgurl-playmnl2">Картинка к посту</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" class="control-label event-isimg" name="playmnl2_isimg" id="id-isimg-playmnl2" value="1"{{data.playmnl2_isimg ? ' checked'}}>
						</span>
						<input type="url" class="form-control" name="playmnl2_imgurl" id="id-imgurl-playmnl2" value="{{data.playmnl2_imgurl}}" minlength="{{text.url_minlen}}" maxlength="{{text.url_maxlen}}" placeholder="URL картинки к посту" pattern="{{img_preg_pattern}}" data-pattern-error="{{msg_invalid_imgurl}}" {{not data.playmnl2_isimg ? ' disabled'}}>
					</div>
					<div class="help-block with-errors"></div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-push-4 col-md-4"> 
				<button type="submit" class="btn btn-primary btn-block btn-lg"{{ is_demo ? ' disabled'}}>Сохранить все шаблоны</button>
			</div>
		</div>                 
	</form>

	
</div> <!-- end container -->


<!-- Popup Modals -->
<div class="modal fade" id="modaltpl-okay" tabindex="-1" role="dialog" aria-labelledby="modaltpl-okay-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-success" id="modaltpl-okay-self">Получилось</h4>
			</div>
			<div class="modal-body">
				<p class="text-success" id="modaltpl-okay-body">Всё получилось!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modaltpl-error" tabindex="-1" role="dialog" aria-labelledby="modaltpl-error-self" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-danger" id="modaltpl-error-self">Ошибка</h4>
			</div>
			<div class="modal-body">
				<p class="text-danger" id="modaltpl-error-body">Что-то не получилось :(</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">{% include 'selector.min.js' %}</script>
<script type="text/javascript">{% include 'template.min.js' %}</script>

{% include 'footer.twig' %}

</body>
</html>