<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <br><br>
                <h1>{{txtauth.forgot_password_heading}}</h1>
                <p>{{txtauth.forgot_password_subheading}}</p>

                {% if data.message %}
                    <div id="infoMessage" class="bg-danger text-danger">{{data.message|raw}}</div>
                {% endif %}

                <br>
                <form role="form" action="{{base_url}}auth/forgot_password" method="post" accept-charset="utf-8">
                	{% if csrf.hash %}
						<input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                	{% endif %}
                    <div class="form-group">
                        <label for="{{data.identity.id}}">
                            {{ data.type == 'email' ? txtauth.forgot_password_email_identity_label : txtauth.forgot_password_identity_label }}
                        </label>
                        <input type="{{data.type}}" class="form-control" name="{{data.identity.name}}" id="{{data.identity.id}}" value="">
                    </div>
                    <button type="submit" class="btn btn-default">{{txtauth.forgot_password_submit_btn}}</button>
                </form>

            </div>
        </div>
    </div>

</body>
</html>