<!DOCTYPE html>
<html lang="ru">
{% include 'header.twig' %}

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <br><br>
                <h1>{{txtauth.login_heading}}</h1>
                <p>{{txtauth.login_subheading}}</p>

                {% if data.message %}
                    <div id="infoMessage" class="bg-danger text-danger">{{data.message|raw}}</div>
                {% endif %}

                <br>
                <form role="form" action="{{base_url}}auth/login" method="post" accept-charset="utf-8">
                	{% if csrf.hash %}
						<input type="hidden" name="{{csrf.name}}" value="{{csrf.hash}}">
                	{% endif %}
                    <div class="form-group">
                        <label for="{{data.identity.id}}">{{txtauth.login_identity_label}}</label>
                        <input type="{{data.identity.type}}" class="form-control" name="{{data.identity.name}}" id="{{data.identity.id}}" value="{{data.identity.value}}">
                    </div>
                    <div class="form-group">
                        <label for="{{data.password.id}}">{{txtauth.login_password_label}}</label>
                        <input type="{{data.password.type}}" class="form-control" name="{{data.password.name}}" id="{{data.password.id}}">
                    </div>
                        <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember" id="remember" value="1"> {{txtauth.login_remember_label}}
                    </label>
                    </div>
                    <button type="submit" class="btn btn-default">{{txtauth.login_submit_btn}}</button>
                </form>

                <br>
                <p><a href="{{base_url}}auth/forgot_password">{{txtauth.login_forgot_password}}</a></p>

            </div>
        </div>
    </div>

</body>
</html>