/*
 * Custom CSS
 */

h2 {
	font-size: 2em;
	font-weight: 400;
}

p {
    line-height: 1.2;
    margin-top: 6px;
    margin-bottom: 0;
}

.lead {
	font-size: 1.3em;
}

.nomarginbottom {
	margin-bottom: 0;
}

.btnmargins {
	margin-left: 5px;
}

.tabletitle {
	margin-top: 25px;
	margin-bottom: 7px;
}

.textnotes {
	font-size: 0.9em;
	font-style: italic;
	color: darkgrey;
	margin-top: 0;
	margin-bottom: 15px;
}

.like-label {
	font-weight: 600;
	margin-top: 2px;
	margin-bottom: 6px;
}

.force-select-all {
	-webkit-user-select: all; /* Для браузеров на движке Blink и Firefox */
	user-select: all; /* Когда-нибудь будет хватать только этой строки */
	font-family: monospace;
	color:darkslategrey;
}

.monospace {
	font-family: monospace;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.calc-lead {
	font-size: 2em;
	font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.calc-small {
	font-size: 0.7em;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------------------------------------
 * @url https://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery
 * Start by setting display:none to make this hidden.
 * Then we position it in relation to the viewport window with position:fixed. Width, height, top and left speak
 * for themselves. Background we set to 80% white with	our animation centered, and no-repeating 
*/
.modal-wait {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba(255, 255, 255, .7) url('../images/loading.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading .modal-wait {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading .modal-wait {
    display: block;
}